{% extends 'base.html' %}

{% block content %}
    <div class="card-block">
        <h1>
            <span>Add a team member</span>
        </h1>
        <p>Set email, location, and role.</p>
        <hr>
        {{ form.non_field_errors }}
        <form action="/add" method="post">
            {% csrf_token %}
            <h3>Info</h3>
            <div class="fieldWrapper">
                {{ form.first_name.errors }}
                <label for="{{ form.first_name.id_for_label }}">First name:</label>
                {{ form.first_name }}
            </div>
            <div class="fieldWrapper">
                {{ form.surname.errors }}
                <label for="{{ form.surname.id_for_label }}">Surname:</label>
                {{ form.surname }}
            </div>
            <div class="fieldWrapper">
                {{ form.email.errors }}
                <label for="{{ form.email.id_for_label }}">Email:</label>
                {{ form.email }}
            </div>
            <div class="fieldWrapper">
                {{ form.phone_number.errors }}
                <label for="{{ form.phone_number.id_for_label }}">Phone number:</label>
                {{ form.phone_number }}
            </div>
            <h3>Role</h3>
            <div class="roleWrapper">
                {{ form.role.errors }}
                {{ form.role }}
            </div>
            <div class="btnWrapper">
                <!-- ignore -->
                <span></span>
                <button class="btn-submit" type="submit" value="Submit">Save</button>
            </div>
        </form>
    </div>
{% endblock content %}