{% extends 'base.html' %}

{% block content %}
    <div class="hide" id="confirm-modal">
        <div class="modal-block">
            <a onclick="closeModal()"><i class="las la-times"></i></a>
            <h3>Are you sure you want to remove this member?</h3>
            <p>If you delete this member you cannot recover them.</p>
            <div class="btnWrapper">
                <form action="/edit/{{ member.id }}" method="post">
                {% csrf_token %}
                    <button class="btn-cancel" onclick="closeModal()">Cancel</button>
                    <button class="btn-delete" name="delete" value="delete" type="submit">Delete</button>
                </form>
            </div>
        </div>
    </div>
    <div class="card-block">
        <h1>
            <span>Edit team member</span>
        </h1>
        <p>Edit contact info, location, and role.</p>
        <hr>
        {{ form.non_field_errors }}
        <form action="/edit/{{ member.id }}" method="post">
            {% csrf_token %}
            <h3>Info</h3>
            <div class="fieldWrapper">
                {{ form.first_name.errors }}
                <label for="{{ form.first_name.id_for_label }}">First name:</label>
                {{ form.first_name }}
            </div>
            <div class="fieldWrapper">
                {{ form.surname.errors }}
                <label for="{{ form.surname.id_for_label }}">Surname:</label>
                {{ form.surname }}
            </div>
            <div class="fieldWrapper">
                {{ form.email.errors }}
                <label for="{{ form.email.id_for_label }}">Email:</label>
                {{ form.email }}
            </div>
            <div class="fieldWrapper">
                {{ form.phone_number.errors }}
                <label for="{{ form.phone_number.id_for_label }}">Phone number:</label>
                {{ form.phone_number }}
            </div>
            <h3>Role</h3>
            <div class="roleWrapper">
                {{ form.role.errors }}
                {{ form.role }}
            </div>
            <div class="btnWrapper">
                <button class="btn-delete" type="button" onclick="confirmDelete()">Delete</button>
                <button class="btn-submit" name="edit" type="submit" value="Submit">Save</button>
            </div>
        </form>
    </div>

    <script>
    function confirmDelete() {
        const modal = document.getElementById('confirm-modal');
        modal.classList.remove("hide");
    }

    function closeModal() {
        const modal = document.getElementById('confirm-modal');
        modal.classList.add("hide");
    }
    </script>
{% endblock content %}